.connect_section {
  margin: 50px 60px;
}

.container {
  border: 1px solid black;
  border-radius: 15px;
  width: 50vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1.4fr 2fr;
  gap: 50px;
  padding: 75px 50px;
}

.connect_appeal {
  font-size: 64px;
  line-height: 88px;
  font-weight: 500;
  margin: 1rem 0;
}

.form_container {
  margin: 1rem 0;
}

.inputA {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media all and (max-width: 1450px) {
  .container {
    display: block;
  }
}
@media all and (max-width: 1100px) and (min-width: 900px) {
  .container {
    width: 70vw;
  }
}
@media all and (max-width: 899px) {
  .connect_section {
    margin: 50px 0px 10px;
  }
  .container {
    border: none;
    width: 100vw;
    padding: 30px 50px;
  }
}
@media all and (max-width: 500px) {
  .inputA {
    display: block;
  }
  .connect_appeal {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    margin: 1rem 0;
  }
}
