.footer {
  width: 60vw;
  margin: auto;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

.logo_img {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.link {
  display: flex;
}

.link p {
  color: black;
  margin-left: 40px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-weight: 500;
}

.footer_quote {
  text-align: center;
  color: #8f929e;
  padding: 20px;
  
}
