.navbar {
  /* height: 80px; */
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  padding: 30px 20px;
  margin: auto;
  background-color: transparent;
  justify-content: space-between;
}

/* .nav_container {

} */

.logo {
  font-family: "poppin", sans-serif;
  font-size: 18px;
  display: flex;
  cursor: pointer;
}

.logo p {
  padding: 8px 0;
}
.logo_img {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.link {
  display: flex;
}

.link p {
  /* margin-left: 40px; */
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-weight: 500;
}

/* .link p:last-child {
  background-color: black;
  color: #fff;
  padding: 8px 15px;
  margin-right: 20px;
  border-radius: 6px;
} */

.link p:nth-child(1) {
  padding: 8px 0px;
}
.link p:nth-child(2) {
  padding: 8px 0px;
  margin: 0 20px;
}

.link p:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: transform 0.3s ease-out;
}

.link p:hover:after {
  transform: scaleX(1);
}

@media all and (max-width: 1300px) {
  .navbar {
    background-color: #eeeff1;
  }
}

@media all and (max-width: 550px) {
  .link p:first-child {
    display: none;
  }
  .link p:nth-child(2) {
    display: none;
  }
}
