.project {
  width: 50vw;
  margin: 100px auto 50px;
}

.pcontainer {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding-bottom: 20px;
}

.title {
  width: 95%;
  margin: auto;
  padding: 10px 0 10px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.action_button {
  display: flex;
  gap: 30px;
}
.action_button button:hover {
  color: black;
  background-color: white;
  font-weight: 500;
}

.content {
  width: 95%;
  margin: auto;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.img {
  width: 95%;
  margin: 10px auto 0px;
  padding-bottom: 10px;
}

.techicon {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.techicon i{
  width: 100px;
  font-size: 40px;
}



@media all and (max-width: 1100px) and (min-width: 900px) {
  .project {
    width: 70vw;
  }
  
}

@media all and (max-width: 899px) and (min-width: 650px) {
  .project {
    width: 95vw;
  }
  
}

@media all and (max-width: 649px) and (min-width: 600px) {
  .content {
    display: block;
  }
  .project {
    width: 95vw;
  }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  .content {
    display: block;
  }
  .project {
    width: 95vw;
  }
  .title {
    font-size: 18px;
    display: block;
  }
  .title h1{
    padding-bottom: 10px;
  }
}