.input {
  padding: 30px 20px 30px 15px;
  margin-bottom: 18px;
  border: 1px #e4e4e4;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.5);
  width: 100%;
}

.lable {
  font-size: 12px;
  color: #8f929e;
  margin-bottom: 5px;
}

.button {
  cursor: pointer;
  background-color: black;
  color: #fff;
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
}
